
GDCdata/TCGA-GBM/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-HNSC/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-BLCA/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-BRCA/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-STAD/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-SKCM/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-SARC/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-PRAD/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-KIRP/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-KIRC/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-KICH/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-ESCA/legacy/Gene_expression/Gene_expression_quantification/

GDCdata/TCGA-CESC/legacy/Gene_expression/Gene_expression_quantification/
